<head>
  <title>MacTrack</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <h1>mactrack_</h1>
  <div class="button" id="refresh" onclick="updateMacList()">Retrieving...</div>
  <div id="mac-list">
  </div>
  <script src="/js/p5.min.js"></script>
  <script src="/js/statusGraph.js"></script>
  <script src="/js/macList.js"></script>
</body>