<head>
  <title>MacTrack</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <h1>mactrack_</h1>
  <div class="button" onclick="updateMacList()">Refresh list</div>
  <div id="mac-list">
    <p>Loading...</p>
  </div>
  <script src="/js/script.js"></script>
</body>