* {
  margin:0;
  padding:0;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family:monospace;
  color:white;
}

body {
  margin:60px auto;
  width:1000px;
  background-color:black;
}

h1 {
  font-family:monospace;
  font-size: 40px;
  margin-bottom:50px;
}

#mac-list {
  font-size: 20px;
  margin-top:10px;
}

.mac-item {
  border:white 1px solid;
  padding:20px 30px;
  margin-top:-1px;
}

.mac-item-address {
  display:inline-block;
}

div[class^=mac-item-status] {
  display: inline-block;
  width:12px;
  height:12px;
  margin-right: 30px;
}

div[class$=online] {
  background-color:#00FF00;
}

div[class$=offline] {
  background-color:rgb(70, 70, 70);
}

canvas[id^=mac-graph] {
  display:inline-block;
  height:63px;
  position: absolute;
  margin-top:-20px;
  margin-left:20px;
  width:700px;
}

.button {
  border:white 1px solid;
  padding:10px 20px;
  margin-top:-1px;
  cursor: pointer;
  display:inline-block;
  transition-duration: 0.2s;
}

.button:hover {
  background-color:white;
  color:black;
  transition-duration: 0.2s;
}